.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background: black;
}

.login > .spotify-logo {
    width: 100%;
}

.login > .spotify-login-link{
    padding: 20px;
    border-radius: 99px;
    background-color: #1db954;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}